
body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;

	font: 14px/1 monospace;
	background-color: #fafafa;
}

button {
	padding: 8px 10px;
	font-family: monospace;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	background: #444;
	background: rgba(20, 20, 20, 0.4);
	transition: all 200ms;
	cursor: pointer;
}

button:hover {
	background: #fff;
	color: #444;
}

.start-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 10;
	width: 100%;
	text-align: center;
}

.is-recording .start-wrap {
	display: none;
}
